body {
	font-family: 'Mako', sans-serif;
  	letter-spacing: .1em;
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	background-color: #dffeff;
	color: #32797c;
}
h1 {
	font-family: 'Lobster', cursive;
	padding: 5% 0 7% 0;
}
a {
	color: #32797c;
}
a:focus, a:hover {
	color: #009898;
}
.btn-default {
  border-color: transparent;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}
.form-group {
	height: 50px;
}
.form-control {
  	font-size: 100%;
  	letter-spacing: .07em;
  	border: 1px solid transparent;
  	box-shadow: inset 0 1px 1px transparent;
}
:focus {
  	outline: -webkit-focus-ring-color auto 0;
}
.form-control:focus {
  	-webkit-box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
  	box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
}
.form-label {
	position: absolute;
	pointer-events:none;
	top: 3px;
	font-size: 110%;
	transition: .2s ease all;
  -moz-transition: .2s ease all;
  -webkit-transition: .2s ease all;
}
.form-input:focus ~ .form-label,
.form-input:valid ~ .form-label 		{
  	top:-17px;
  	font-size: 95%;
}
.has-success .form-control-feedback {
   color: #4cbd38;
}
.has-warning .form-control-feedback {
   color: #dab91a;
}
.has-error .form-control-feedback {
   color: #ec2824;
}
.form-control {
  border: 1px solid transparent;
  border-bottom: 2px solid #32797c;
  padding-left: 0;
  font-size: 100%;
  letter-spacing: .07em;
  box-shadow: inset 0 1px 1px transparent;
}

#requiredMsg {
  background-color: lightcoral;
  color: black;
}

pre {
  color: lightcoral;
}
.valid {
  color: 	#01B468;
}

:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.form-control:focus {
  border-color: transparent;
  border-bottom: 2px solid #9c9e9f;
}
