<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home">
          <i class="material-icons">home</i>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/read">
          <i class="material-icons">library_books</i>
          Read</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/publish">
          <i class="material-icons">rate_review</i>
          Publish</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/pratice">
          <i class="material-icons">school</i>
          Pratice</a>
      </li>
    </ul>
    <span class="navbar-text" *ngIf="! this.authService.isLogIn()">
      <a class="nav-link" href="" routerLink="/login">
        <i class="material-icons">streetview</i>
        Login</a>
    </span>
    <span *ngIf="! this.authService.isLogIn()">|</span>
    <span class="navbar-text" *ngIf="! this.authService.isLogIn()">
      <a class="nav-link" href="" routerLink="/signUp">
        <i class="material-icons">queue</i>
        Sign Up</a>
    </span>

    <span class="navbar-text" *ngIf="this.authService.isLogIn()">
      <a class="nav-link" href="" routerLink="" (click)="this.authService.logout()">
        <i class="material-icons">logout</i>
        Log Out</a>
    </span>
  </div>
</nav>
